<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>刘家亮 - 筑梦园</title>

<link rel="icon" href="/img/pagelogo.png" />
<link href="/coll/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/coll/normalize.css" />
<link rel="stylesheet" type="text/css" href="/coll/default.css"/>
<link href="/coll/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="/coll/site.css" rel="stylesheet" type="text/css" />

<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<script src="/js/jquery-3.3.1.min.js"></script>

<link href="/css/style1.css" rel="stylesheet" type="text/css" media="screen" />
<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
  $("#tags").click(function(){
    $("#tagslist").toggle();
  });
	$("#diaryfabu").hide();
	$("#picturefabu").hide();
	$(".letter").hide();
	$("#follow").hide();
	$(".collection").hide();
	$("#guangli").hide();
	$("#next").click();
	$("#prev").click();
	$(".wysiwyg").css("width","646px");
	$('input:radio').click(function(){
	    var $radio = $(this);
	    if ($radio.data('checked')){
	      $radio.prop('checked', false);
	      $radio.data('checked', false);
	    } else {
	      $radio.prop('checked', true);
	      $radio.data('checked', true);
	    }
	});
	
});
function articlefabu(){
	$("#guangli").hide();
	$(".letter").hide();
	$("#diaryfabu").hide();
	$("#picturefabu").hide();
	$("#follow").hide();
	$(".collection").hide();
	$("#articlefabu").show();
}
function diaryfabu(){
	$("#guangli").hide();
	$("#articlefabu").hide();
	$(".letter").hide();
	$("#picturefabu").hide();
	$("#follow").hide();
	$(".collection").hide();
	$("#diaryfabu").show();
}
function tagslist(){
	$("#tagslist").toggle();
}
function picturefabu(){
	$("#guangli").hide();
	$("#articlefabu").hide();
	$("#diaryfabu").hide();
	$("#follow").hide();
	$(".letter").hide();
	$(".collection").hide();
	$("#picturefabu").show();
}
function letter(){
	$("#guangli").hide();
	$("#articlefabu").hide();
	$("#diaryfabu").hide();
	$("#picturefabu").hide();
	$(".collection").hide();
	$("#follow").hide();
	$(".letter").show();
}
function follow(){
	$("#guangli").hide();
	$(".letter").hide();
	$("#articlefabu").hide();
	$("#diaryfabu").hide();
	$("#picturefabu").hide();
	$(".collection").hide();
	$("#follow").show();
}
function collection(){
	$("#guangli").hide();
	$(".letter").hide();
	$("#articlefabu").hide();
	$("#diaryfabu").hide();
	$("#picturefabu").hide();
	$("#follow").hide();
	$("#collection1").show();
	$("#collectiontag").show();
}
function guangli(){
	$(".letter").hide();
	$("#articlefabu").hide();
	$("#diaryfabu").hide();
	$("#picturefabu").hide();
	$(".collection").hide();
	$("#follow").hide();
	$(".collection1").hide();
	$("#guangli").show();
}
</script>
<!-- 检查表单 -->
<script>
function checkarticle(){

	if(article.Title.value == ''){
		alert("请输入标题！！");
		return false;
	}else{
		if(article.context.value == '' || article.context.value == "<p><br></p>"){
			alert("请输入正文");
			return false;
		}else{
				return true;
			}
		}
}
</script>
<!-- 日历插件 -->
<style type="text/css">
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#demo {
	width: 300px;
	margin: 150px auto;
}
p {
	margin: 0;
}
#dt {
	margin: 30px auto;
	height: 28px;
	width: 200px;
	padding: 0 6px;
	border: 1px solid #ccc;
	outline: none;
}
</style>
<link rel="stylesheet" href="/css/calendar.css"/>
<!-- 渲染富文本编辑器 -->
<link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
<!--[if lt IE 8]><link rel="stylesheet" href="../lib/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link rel="stylesheet" href="/css/jquery.wysiwyg.css" type="text/css"/>
<script src="http://www.jq22.com/jquery/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/js/wysiwyg.image.js"></script>
<script type="text/javascript" src="/js/wysiwyg.link.js"></script>
<script type="text/javascript" src="/js/wysiwyg.table.js"></script>
<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		$('.wysiwyg').wysiwyg({
		  controls: {
			bold          : { visible : true },
			italic        : { visible : true },
			underline     : { visible : true },
			strikeThrough : { visible : true },
			
			justifyLeft   : { visible : true },
			justifyCenter : { visible : true },
			justifyRight  : { visible : true },
			justifyFull   : { visible : true },

			indent  : { visible : true },
			outdent : { visible : true },

			subscript   : { visible : true },
			superscript : { visible : true },
			
			undo : { visible : true },
			redo : { visible : true },
			
			insertOrderedList    : { visible : true },
			insertUnorderedList  : { visible : true },
			insertHorizontalRule : { visible : true },

			h4: {
				visible: true,
				className: 'h4',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h4>' : 'h4',
				tags: ['h4'],
				tooltip: 'Header 4'
			},
			h5: {
				visible: true,
				className: 'h5',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h5>' : 'h5',
				tags: ['h5'],
				tooltip: 'Header 5'
			},
			h6: {
				visible: true,
				className: 'h6',
				command: ($.browser.msie || $.browser.safari) ? 'formatBlock' : 'heading',
				arguments: ($.browser.msie || $.browser.safari) ? '<h6>' : 'h6',
				tags: ['h6'],
				tooltip: 'Header 6'
			},
			
			cut   : { visible : true },
			copy  : { visible : true },
			paste : { visible : true },
			html  : { visible: true },
			increaseFontSize : { visible : true },
			decreaseFontSize : { visible : true },
			exam_html: {
				exec: function() {
					this.insertHtml('<abbr title="exam">Jam</abbr>');
					return true;
				},
				visible: true
			}
		  },
		  events: {
			click: function(event) {
				if ($("#click-inform:checked").length > 0) {
					event.preventDefault();
					alert("You have clicked jWysiwyg content!");
				}
			}
		  }
		});
	});
})(jQuery);
</script>
<style>
</style>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">刘家亮</a></h1>
				<p>刘家亮的名言</p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/home">筑梦园</a></li>
				<li><a style=" outline:none;" href="#">首页</a></li>
				<li><a style=" outline:none;" href="javascript:articlefabu();">文章发布</a></li>
				<li><a style=" outline:none;" href="javascript:diaryfabu();">日记发布</a></li>
				<li><a style=" outline:none;" href="javascript:picturefabu();">照片发布</a></li>
				<li><a style=" outline:none;" href="javascript:letter();">留言</a></li>
				<li><a style=" outline:none;" href="javascript:follow();">订阅</a></li>
				<li><a style=" outline:none;" href="javascript:collection();">收藏</a></li>
				<li><a style=" outline:none;" href="javascript:guangli();">设置</a></li>
			</ul>
		</div>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content" style="margin:0px 0px;padding-left:170px;width:1200px;">
					<div id="content">
							<div class="container" style="width:100%;" id="articlefabu">
  								<h2>文章发布</h2></br>
  								<form action="/manage/release" onsubmit="return checkarticle()" name="article" method="post">
  								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">标题</span>
      									</div>
      									<input type="text" class="form-control"  name="Title" maxlength="40"/>
    								</div>
    								
    								<input type="button" class="btn btn-primary" value="标签列表" id="tags" style="margin-bottom:10px;" click="tagslist()"/>
    								      <div style="border:1px solid #17A2B8;padding:15px 25px;margin-bottom:10px;display:none;" id="tagslist">
      										<div class="form-check form-check-inline">
      											<label class="form-check-label">
        											<input type="checkbox" class="form-check-input" value="Option1" name="tag"/>Option 1
        											<input type="checkbox" class="form-check-input" value="Option2" name="tag"/>Option 2
      											</label>
    										</div>
    										
    								   </div>
									
														<noscript>Enable JavaScript to use WYSIWYG features.</noscript>
																<textarea class="wysiwyg" rows="14" cols="89" name="context"></textarea>
									
    								<button type="submit" class="btn btn-primary" style="margin-top:10px;">发布</button>
 								</form >
							</div>
							
							<div class="container" style="width:100%;" id="diaryfabu">
  								<h2>日记发布</h2></br>
  								<form action="">
  								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">标题</span>
      									</div>
      									<input type="text" class="form-control" id="Title" name="Title"/>
    								</div>   								

								<noscript>Enable JavaScript to use WYSIWYG features.</noscript>
																<textarea class="wysiwyg" rows="14" cols="89" name="context"></textarea>
    								
    								<button type="submit" class="btn btn-primary" style="margin-top:10px;">发布</button>
 								</form>
							</div>
							
							<div class="container" style="width:100%;" id="picturefabu">
  								<h2>照片发布</h2></br>
  								<form action="">
  								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">标题</span>
      									</div>
      									<input type="text" class="form-control" id="Title" name="Title"/>
    								</div>   								
    								
    								<div class="custom-file mb-3" style="display:inline-block;width:60%;margin-right:120px;">
      										<input type="file" class="custom-file-input" id="customFile" name="filename">
      										<label class="custom-file-label" for="customFile">选择照片</label>
    								</div>
    								
    								<div class="custom-control custom-radio" style="display:inline-block;">
      										<input type="radio" class="custom-control-input" id="customRadio" name="example1">
      										<label class="custom-control-label" for="customRadio" style="padding-top:2px;color:gray;">是否可见</label>
    								</div>

									<noscript>Enable JavaScript to use WYSIWYG features.</noscript>
																<textarea class="wysiwyg" rows="14" cols="89" name="context"></textarea>
    								
    								<button type="submit" class="btn btn-primary" style="margin-top:10px;">发布</button>
 								</form>
							</div>
																
								<div class="post letter" >
									<h2 class="title"><a href="#">Welcome to Elegant Blue</a></h2>
									<p class="meta" style="margin-bottom:0px;">Posted by <a href="#">Someone</a> on January 31, 2012
									&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
									<div class="entry">							
									<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
									</div>
								</div>
								<div class="post letter">
									<h2 class="title"><a href="#">Welcome to Elegant Blue</a></h2>
									<p class="meta" style="margin-bottom:0px;">Posted by <a href="#">Someone</a> on January 31, 2012
									&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
									<div class="entry">							
									<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
									</div>
								</div>
								<div class="post letter">
									<h2 class="title"><a href="#">Welcome to Elegant Blue</a></h2>
									<p class="meta" style="margin-bottom:0px;">Posted by <a href="#">Someone</a> on January 31, 2012
									&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
									<div class="entry">							
									<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
									</div>
								</div>
								<div class="post letter">
									<h2 class="title"><a href="#">Welcome to Elegant Blue</a></h2>
									<p class="meta" style="margin-bottom:0px;">Posted by <a href="#">Someone</a> on January 31, 2012
									&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
									<div class="entry">							
									<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
									</div>
								</div>
								
								<div class="container" style="padding-left:40px;" id="follow">
										<h2>订阅博主</h2></br>
  										<div class="card" style="width:252px;display:inline-block;margin-right:20px;margin-bottom:30px;border:1px solid #A5E0E5;background:#D1E3E4;" >
    										<img class="card-img-top" alt="Card image" style="width:250px;height:250px;" src="/testuserpicture/test15.jpg"/>
    										<div class="card-body">
      											<a class="card-title" style="font-size:20px;color:#809395;" href="#" >我是名字</a>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是简介</p>   				
    										</div>
  										</div>		
  										<div class="card" style="width:252px;display:inline-block;margin-right:20px;margin-bottom:30px;border:1px solid #A5E0E5;background:#D1E3E4;" >
    										<img class="card-img-top" alt="Card image" style="width:250px;height:250px;" src="/testuserpicture/test15.jpg"/>
    										<div class="card-body">
      											<a class="card-title" style="font-size:20px;color:#809395;" href="#" >我是名字</a>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是简介</p>   				
    										</div>
  										</div>
  										<div class="card" style="width:252px;display:inline-block;margin-right:20px;margin-bottom:30px;border:1px solid #A5E0E5;background:#D1E3E4;" >
    										<img class="card-img-top" alt="Card image" style="width:250px;height:250px;" src="/testuserpicture/test15.jpg"/>
    										<div class="card-body">
      											<a class="card-title" style="font-size:20px;color:#809395;" href="#" >我是名字</a>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是简介</p>   				
    										</div>
  										</div>
  										<div class="card" style="width:252px;display:inline-block;margin-right:20px;margin-bottom:30px;border:1px solid #A5E0E5;background:#D1E3E4;" >
    										<img class="card-img-top" alt="Card image" style="width:250px;height:250px;" src="/testuserpicture/test15.jpg"/>
    										<div class="card-body">
      											<a class="card-title" style="font-size:20px;color:#809395;" href="#" >我是名字</a>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是简介</p>   				
    										</div>
  										</div>
  								</div>
								
							<div class="form-group collection" id="collectiontag">
      							<label for="sel1">收藏标签组选择:</label>
      							<select class="form-control" name="select1" id="select1">
        							<option  id="option1">.Net新手区</option>
        							<option  id="option2">Java</option>
        							<option  id="option3">Python</option>
        							<option  id="option4">AI技术</option>
      							</select>
      						</div>
								
				<div class="col-md-4 collection" id="collection1">

					<div class="panel panel-default" style="width:580px;">

						<div class="panel-heading">

							<span class="glyphicon glyphicon-list-alt"></span><b>.Net新手区</b></div>

						<div class="panel-body">

							<div class="row">

								<div class="col-xs-12">

									<ul class="demo1">

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/1.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/2.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/3.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/4.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/5.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/6.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/7.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

									</ul>

								</div>

							</div>

						</div>

						<div class="panel-footer">



						</div>

					</div>

				</div>	
				
				<div class="col-md-4 collection" id="collection2">

					<div class="panel panel-default" style="width:580px;">

						<div class="panel-heading">

							<span class="glyphicon glyphicon-list-alt"></span><b>Java</b></div>

						<div class="panel-body">

							<div class="row">

								<div class="col-xs-12">

									<ul class="demo1">

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/1.png" width="60" class="img-circle" /></td>

													<td>刘家亮or sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/2.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/3.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/4.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/5.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/6.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

										<li class="news-item">

											<table cellpadding="4">

												<tr>

													<td><img src="/images/7.png" width="60" class="img-circle" /></td>

													<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>

												</tr>

											</table>

										</li>

									</ul>

								</div>

							</div>

						</div>

						<div class="panel-footer">



						</div>

					</div>

				</div>
							
					<div class="container" style="width:100%;" id="guangli">
  								<h2>个人设置</h2></br>
  								<form action="">
  								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">用户名</span>
      									</div>
      									<input type="text" class="form-control" id="Username" name="Username"/>
    								</div>
    								
    								<div class="custom-file mb-3" style="width:60%;">
      										<input type="file" class="custom-file-input" id="customFile" name="filename"/>
      										<label class="custom-file-label" for="customFile">选择头像</label>
    								</div>
    								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">个性签名</span>
      									</div>
      									<input type="text" class="form-control" id="Autograph" name="Autograph"/>
    								</div>
    								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">密码</span>
      									</div>
      									<input type="text" class="form-control" id="Password" name="Password"/>
    								</div>
    								
    								<div class="input-group mb-3">
      									<div class="input-group-prepend">
       								 		<span class="input-group-text">确认密码</span>
      									</div>
      									<input type="text" class="form-control" id="Confirm" name="Confirm"/>
    								</div>
    								
    								<button type="submit" class="btn btn-primary" style="display:block;">更改</button>
 								</form >
							</div>		
							
					</div>
					
					<!-- end #content -->
					<div id="sidebar" style="margin-right:141px;">
						<div id="demo" style="margin:0px 0px; font: 500 14px 'roboto';color: #333;">
  							<div id="ca"></div>
  							
						</div>
						<div class="card" style="width:282px;display:inline-block;margin-top:20px;margin-left:20px;margin-bottom:30px;border:1px solid #A5E0E5;background:#D1E3E4;" >
    										<img class="card-img-top" alt="Card image" style="width:280px;height:280px;" src="/testuserpicture/test15.jpg"/>
    										<div class="card-body">
      											<a class="card-title" style="font-size:20px;color:#809395;" href="#" >我是名字</a>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是粉丝数：1000</p>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是关注数：1000</p>
      											<p class="card-text" style="color:#809395;padding-bottom:0px;">我是发表过的文章：100</p>   				
    										</div>
  										</div>	
					</div>
					<!-- end #sidebar -->
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
<!-- 标签选择框 -->
<script>
	 var select = document.getElementById("select1");
 select.onchange = function() {
     var options = this.options;
     for (var i = 0; i < options.length; i++) {
         if (options[i].selected) {
             var divid = options[i].id.replace("option", "collection");
             document.getElementById(divid).style.display = "block";
         } else {
             var divid = options[i].id.replace("option", "collection");
             document.getElementById(divid).style.display = "none";
         }
     }
 }
</script>
<!-- 日历插件 -->
<script src="/js/jquery.js"></script> 
<script src="/js/calendar.js"></script> 
<script>
    $('#ca').calendar({
        width: 320,
        height: 320,
        data: [
			{
			  date: '2015/12/24',
			  value: 'Christmas Eve'
			},
			{
			  date: '2015/12/25',
			  value: 'Merry Christmas'
			},
			{
			  date: '2016/01/01',
			  value: 'Happy New Year'
			}
		],
        onSelected: function (view, date, data) {
        }
    });

    $('#dd').calendar({
        trigger: '#dt',
        zIndex: 999,
		format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
        },
        onClose: function (view, date, data) {
        }
    });
</script>
<!-- 标签滚动 -->
<script src="/js/jquery-1.8.0.js" type="text/javascript"></script>

	<script src="/js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>

	<script type="text/javascript">

    $(function () {

        $(".demo1").bootstrapNews({

            newsPerPage: 5,

            autoplay: true,

			pauseOnHover:true,

            direction: 'up',

            newsTickerInterval: 4000,

            onToDo: function () {

                //console.log(this);

            }

        });
		$(".demo2").bootstrapNews({

            newsPerPage: 4,

            autoplay: true,

			pauseOnHover: true,

			navigation: false,

            direction: 'down',

            newsTickerInterval: 2500,

            onToDo: function () {

                //console.log(this);

            }

        });
        $("#demo3").bootstrapNews({

            newsPerPage: 3,

            autoplay: false,

            onToDo: function () {

                //console.log(this);
            }

        });

    });
</script>
</body>
</html>